<div data-ng-switch="quiz.state">
	<div data-ng-switch-when="checking">
		<p class="lead">{{quiz.question.q}}</p>

		<ul data-ng-repeat="a in quiz.answers">
			<li>
				<button type="button" class="btn btn-default btn-block answer" data-ng-click="quiz.answer(a)" data-ng-class="{'btn-danger': a == quiz.w, 'btn-success': a == quiz.r}" data-ng-disabled="quiz.r != -1">{{a}}</button>
			</li>
		</ul>

		<button type="button" class="btn btn-default" data-ng-click="quiz.skip()" data-ng-disabled="quiz.r != -1">skip</button>

		<span class="text-success">Right: {{quiz.stats.right}}</span>
		<span class="text-danger">Wrong: {{quiz.stats.wrong}}</span>
		<span class="text-primary pull-right">{{quiz.i + 1}} / {{quiz.questions.length}}</span>

	</div>
	<div data-ng-switch-when="score">
		<h3>Score</h3>
		<div class="alert alert-info" role="alert">
			{{quiz.stats.right}} / {{quiz.questions.length}}
		</div>

		<button type="button" class="btn btn-success" data-ng-click="quiz.start()">restart</button>

		<div data-ng-show="quiz.incorrectlyAnsweredQuestions.length > 0">
			<h4>Incorrectly answered questions</h4>

			<table class="table">
				<thead>
					<tr>
						<th>Question</th>
						<th>Correct Answer</th>
						<th>Selected Answer</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="q in quiz.incorrectlyAnsweredQuestions">
						<td>{{q.q}}</td>
						<td>{{q.a}}</td>
						<td>{{q.w}}</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<div data-ng-switch-default>
	</div>
</div>
